* {
    margin: 0;
    padding: 0;
    user-select: none;
    cursor: default;
    font-family: Calibri, sans-serif;
    color: white;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: black;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    filter: blur(0.35vw);
}

button#opencolor {
    position: absolute;
    top: 20px;
    right: 20px;
    background: black;
    border: none;
}

div#colorpick {
    display: none;
    color: white;
    position: absolute;
    top: 50px;
    right: 25px;
    border: 2px solid white;
    border-radius: 15px;
    background: #55555555;
    backdrop-filter: blur(5px);
    z-index: 100;
    padding: 10px;
    text-align: center;
}

div#colorpick label {
    font-size: 20px;
}

div#colorpick button {
    background: black;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
}

div#clock {
    display: flex;
    flex: row nowrap;
    translate: 0px 3vw;
}

div#clock>p {
    opacity: 1;
    color: white;
    height: 100px;
    translate: 0px 145vw;
}

.wheel {
    /* background: #262a33; */
    /* padding: 10px; */
    /* border: 3px solid #23262e; */
    margin: 0px 10px;
    text-align: center;
    transition: translate 0.5s;
}

p {
    font-size: 5vw;
    line-height: 5vw;
    transition: opacity 0.5s;
}